main {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.card-post {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;
    color: #D2DAF5;
    font-size: 2.5rem;
}

.line-post {
    height: 2px;
    background-color: #3E445B;
}

.card-body-post {
    margin-top: 25px;
}

.fields {
    margin-bottom: 7px;
    font-size: 1.2rem;
    color: #D2DAF5;
    font-family: Poppins;
}

.input-padrao, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    padding-left: 15px;
    height: 40px;
    margin-top: 7px;
    font-family: Poppins;
}

textarea {
    height: 190px;
    resize: none;
    padding-top: 10px;
    font-family: Poppins;
}

.input-radio {
   margin-right: 7px;
   margin-top: 20px;
}

.label-radio {
    margin-left: 5px;
}
.label-radio-receita {
    margin-right: 10px;
}

.btn-post{
    margin-top: 30px;
    text-align: center;
}

.btn-post button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #3DECB1;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    color: rgb(240, 47, 47);
}