header {
    background-color: #2F3644;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;

    height: 100px;
}

.logo h1 {
    font-family: Heebo;
    font-weight: 700;
    color: #29EBAA;

    cursor: pointer;
}

.btn-novoLancamento button{
    font-size: 1.2rem;
    font-family: Heebo;
    font-weight: 700;

    background-color: #447CE2;
    border: 0;

    color: #fff;

    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}

.btn-novoLancamento button:hover {
    transition: 0.2s;
    background-color: #538af0;
}